<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:Android="http://schemas.android.com/tools"
    package="com.baihuodasha.bhds">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

  <!-- 友盟分享和登陆配置 -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

  <!-- 友盟分享和登陆配置结束 -->
  <application
      android:name=".base.BaseApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".activity.MainActivityTabHost"
        android:launchMode="singleTask"
        android:windowSoftInputMode="stateHidden|adjustPan"/>
    <activity android:name=".activity.myself.setting.ActivityMyselfInformation"/>
    <activity android:name=".activity.login.ActivityLogin"/>
    <activity android:name=".activity.login.ActivityRegister"/>
    <activity android:name=".activity.login.ActivityForget"/>
    <activity android:name=".activity.index.ShopSearchActivity"/>
    <activity android:name=".activity.myself.setting.ActivitySetting">
    </activity>
    <activity android:name=".activity.myself.setting.ActivityCellphonebinding">
    </activity>
    <activity android:name=".activity.myself.setting.ActivityAccountpassword">
    </activity>
    <activity android:name=".activity.myself.setting.ActivityPaymentcode">
    </activity>
    <activity android:name=".activity.myself.setting.ActivityAboutus">
    </activity>
    <activity android:name=".activity.myself.receiveraddress.ActivityReceiverAddress">
    </activity>
    <activity android:name=".activity.myself.receiveraddress.ActivityNewAddress">
    </activity>
    <activity android:name=".activity.supermarket.ActivityFlashSale">
    </activity>
    <activity android:name=".utils.statusbar.StatusBarActivity"/>
    <activity android:name=".activity.index.ActivityCommodityDetails">
    </activity>
    <activity android:name=".activity.index.CommentDetailsActivity">
    </activity>
  </application>

</manifest>